CLOUDMOUNT_BUNDLE_ID = org.rclone.cloudmount
CLOUDMOUNT_TEAM_ID = TEAMID
CLOUDMOUNT_APP_GROUP_SUFFIX = org.rclone.cloudmount
CLOUDMOUNT_APP_GROUP = $(CLOUDMOUNT_TEAM_ID).$(CLOUDMOUNT_APP_GROUP_SUFFIX)
CLOUDMOUNT_AGENT_LABEL = $(CLOUDMOUNT_BUNDLE_ID).Agent
CLOUDMOUNT_MACH_SERVICE = $(CLOUDMOUNT_APP_GROUP).agent

MACOSX_DEPLOYMENT_TARGET = 13.0
CODE_SIGN_STYLE = Automatic
SWIFT_VERSION = 5.0

#include? "Local.xcconfig"
