CLOUDMOUNT_BUNDLE_ID = org.rclone.cloudmount
CLOUDMOUNT_APP_GROUP = group.org.rclone.cloudmount
CLOUDMOUNT_AGENT_LABEL = $(CLOUDMOUNT_BUNDLE_ID).Agent
CLOUDMOUNT_MACH_SERVICE = $(CLOUDMOUNT_APP_GROUP).agent

MACOSX_DEPLOYMENT_TARGET = 13.0
CODE_SIGN_STYLE = Automatic
SWIFT_VERSION = 5.0

#include? "Local.xcconfig"
